<!DOCTYPE html>
<html>
<head>
    <title>Signup Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            padding: 50px;
            text-align: center;
        }
        .container {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">CONGRATULATIONS!</h1>
        <p>You have successfully signed up with Grocify.</p>
        <p>Click <a href="{{ url_for('user_login') }}">here</a> to log in.</p>
    </div>
</body>
</html>
